(layers: {
    Bg: (tiles: [
        (pos: (-64, -48), index: 0),
        (pos: (0, 0), index: 8),
        (pos: (48, 16), index: 0),
        (pos: (48, 0), index: 0),
        (pos: (48, -16), index: 0),
        (pos: (-64, 32), index: 0),
        (pos: (-48, -48), index: 0),
        (pos: (48, -32), index: 0),
        (pos: (48, -48), index: 0),
        (pos: (32, 32), index: 0),
        (pos: (32, 16), index: 0),
        (pos: (-48, 32), index: 0),
        (pos: (-32, -48), index: 0),
        (pos: (32, 0), index: 0),
        (pos: (32, -16), index: 0),
        (pos: (32, -32), index: 0),
        (pos: (32, -48), index: 0),
        (pos: (-32, 32), index: 0),
        (pos: (-16, -48), index: 0),
        (pos: (16, 32), index: 0),
        (pos: (16, 16), index: 0),
        (pos: (16, 0), index: 0),
        (pos: (16, -16), index: 0),
        (pos: (-16, 32), index: 0),
        (pos: (0, -48), index: 0),
        (pos: (0, -32), index: 0),
        (pos: (48, 32), index: 0),
        (pos: (0, -16), index: 12),
        (pos: (0, 16), index: 0),
        (pos: (0, 32), index: 0),
        (pos: (16, -48), index: 0),
        (pos: (16, -32), index: 0),
        (pos: (-96, -32), index: 0),
        (pos: (-96, -16), index: 0),
        (pos: (-96, 0), index: 0),
        (pos: (-96, 16), index: 0),
        (pos: (-80, -32), index: 0),
        (pos: (-80, -16), index: 0),
        (pos: (-80, 0), index: 0),
        (pos: (-80, 16), index: 0),
        (pos: (-64, -32), index: 0),
        (pos: (-64, -16), index: 0),
        (pos: (-64, 0), index: 0),
        (pos: (-64, 16), index: 0),
        (pos: (-48, -32), index: 0),
        (pos: (-48, -16), index: 0),
        (pos: (-48, 0), index: 0),
        (pos: (-48, 16), index: 0),
        (pos: (-32, -32), index: 0),
        (pos: (-32, -16), index: 0),
        (pos: (-32, 0), index: 0),
        (pos: (-32, 16), index: 0),
        (pos: (-16, -32), index: 0),
        (pos: (-16, -16), index: 0),
        (pos: (-16, 0), index: 0),
        (pos: (-16, 16), index: 0),
    ]),
    Fg: (tiles: [
        (pos: (-80, -16), index: 12),
        (pos: (-64, -16), index: 12),
        (pos: (-48, -16), index: 12),
        (pos: (-80, 0), index: 8),
        (pos: (-64, 0), index: 8),
        (pos: (-48, 0), index: 8),
    ]),
})