(layers: {
    Bg: (tiles: [
        (pos: (128, -80), index: 14),
        (pos: (112, -80), index: 14),
        (pos: (96, -80), index: 14),
        (pos: (160, -80), index: 3),
        (pos: (-192, -64), index: 3),
        (pos: (-192, -48), index: 3),
        (pos: (-192, -32), index: 3),
        (pos: (-192, -16), index: 3),
        (pos: (-192, 0), index: 3),
        (pos: (-192, 16), index: 3),
        (pos: (-192, 32), index: 3),
        (pos: (-192, 48), index: 3),
        (pos: (80, -80), index: 14),
        (pos: (64, -80), index: 14),
        (pos: (48, -80), index: 14),
        (pos: (160, -96), index: 3),
        (pos: (-176, -64), index: 3),
        (pos: (-176, -48), index: 3),
        (pos: (-176, -32), index: 3),
        (pos: (-176, -16), index: 3),
        (pos: (-176, 0), index: 3),
        (pos: (-176, 16), index: 3),
        (pos: (-176, 32), index: 3),
        (pos: (-176, 48), index: 3),
        (pos: (32, -80), index: 14),
        (pos: (-192, -80), index: 14),
        (pos: (-176, -80), index: 14),
        (pos: (160, -112), index: 3),
        (pos: (-160, -64), index: 3),
        (pos: (-160, -48), index: 3),
        (pos: (-160, -32), index: 3),
        (pos: (-160, -16), index: 3),
        (pos: (-160, 0), index: 3),
        (pos: (-160, 16), index: 3),
        (pos: (-160, 32), index: 3),
        (pos: (-160, 48), index: 3),
        (pos: (80, 16), index: 3),
        (pos: (80, 32), index: 3),
        (pos: (80, 48), index: 3),
        (pos: (16, -80), index: 14),
        (pos: (-144, -64), index: 3),
        (pos: (-144, -48), index: 3),
        (pos: (-144, -32), index: 3),
        (pos: (-144, -16), index: 3),
        (pos: (-144, 0), index: 3),
        (pos: (-144, 16), index: 3),
        (pos: (-144, 32), index: 3),
        (pos: (-144, 48), index: 3),
        (pos: (-64, -64), index: 14),
        (pos: (96, -48), index: 3),
        (pos: (96, -64), index: 3),
        (pos: (144, -80), index: 3),
        (pos: (-128, -64), index: 3),
        (pos: (-128, -48), index: 3),
        (pos: (-128, -32), index: 3),
        (pos: (-128, -16), index: 3),
        (pos: (-128, 0), index: 3),
        (pos: (-128, 16), index: 3),
        (pos: (-128, 32), index: 3),
        (pos: (-128, 48), index: 3),
        (pos: (-48, -64), index: 14),
        (pos: (144, -16), index: 3),
        (pos: (144, -32), index: 3),
        (pos: (144, -96), index: 3),
        (pos: (-112, -64), index: 3),
        (pos: (-112, -48), index: 3),
        (pos: (-112, -32), index: 3),
        (pos: (-112, -16), index: 3),
        (pos: (-112, 0), index: 3),
        (pos: (-112, 16), index: 3),
        (pos: (-112, 32), index: 3),
        (pos: (-112, 48), index: 3),
        (pos: (144, -48), index: 3),
        (pos: (144, -64), index: 3),
        (pos: (144, 48), index: 3),
        (pos: (144, -112), index: 3),
        (pos: (-96, -64), index: 3),
        (pos: (-96, -48), index: 3),
        (pos: (-96, -32), index: 3),
        (pos: (-96, -16), index: 3),
        (pos: (-96, 0), index: 3),
        (pos: (-96, 16), index: 3),
        (pos: (-96, 32), index: 3),
        (pos: (-96, 48), index: 3),
        (pos: (144, 32), index: 3),
        (pos: (144, 16), index: 3),
        (pos: (144, 0), index: 3),
        (pos: (0, -80), index: 15),
        (pos: (-80, -64), index: 3),
        (pos: (-80, -48), index: 3),
        (pos: (-80, -32), index: 3),
        (pos: (-80, -16), index: 3),
        (pos: (-80, 0), index: 3),
        (pos: (-80, 16), index: 3),
        (pos: (-80, 32), index: 3),
        (pos: (-80, 48), index: 3),
        (pos: (128, 48), index: 3),
        (pos: (128, 32), index: 3),
        (pos: (128, 16), index: 3),
        (pos: (128, -96), index: 15),
        (pos: (-80, -80), index: 14),
        (pos: (-64, -48), index: 3),
        (pos: (-64, -32), index: 3),
        (pos: (-64, -16), index: 3),
        (pos: (-64, 0), index: 3),
        (pos: (-64, 16), index: 3),
        (pos: (-64, 32), index: 3),
        (pos: (-64, 48), index: 3),
        (pos: (128, 0), index: 3),
        (pos: (128, -16), index: 3),
        (pos: (128, -32), index: 3),
        (pos: (128, -112), index: 15),
        (pos: (-96, -80), index: 14),
        (pos: (-48, -48), index: 3),
        (pos: (-48, -32), index: 3),
        (pos: (-48, -16), index: 3),
        (pos: (-48, 0), index: 3),
        (pos: (-48, 16), index: 3),
        (pos: (-48, 32), index: 3),
        (pos: (-48, 48), index: 3),
        (pos: (128, -48), index: 3),
        (pos: (128, -64), index: 3),
        (pos: (160, -64), index: 3),
        (pos: (-16, -80), index: 15),
        (pos: (-112, -80), index: 14),
        (pos: (-32, -48), index: 3),
        (pos: (-32, -32), index: 3),
        (pos: (-32, -16), index: 3),
        (pos: (-32, 0), index: 3),
        (pos: (32, 64), index: 5),
        (pos: (-32, 32), index: 3),
        (pos: (-32, 48), index: 3),
        (pos: (160, -48), index: 3),
        (pos: (160, -32), index: 3),
        (pos: (160, -16), index: 3),
        (pos: (112, -96), index: 15),
        (pos: (-128, -80), index: 14),
        (pos: (-16, -48), index: 3),
        (pos: (-16, -32), index: 3),
        (pos: (-16, -16), index: 3),
        (pos: (-16, 0), index: 3),
        (pos: (-16, 16), index: 3),
        (pos: (-16, 32), index: 3),
        (pos: (-16, 48), index: 3),
        (pos: (112, 48), index: 3),
        (pos: (112, 32), index: 3),
        (pos: (112, 16), index: 3),
        (pos: (112, -112), index: 15),
        (pos: (-144, -80), index: 14),
        (pos: (0, -48), index: 3),
        (pos: (0, -32), index: 3),
        (pos: (0, -16), index: 3),
        (pos: (0, 0), index: 3),
        (pos: (0, 16), index: 3),
        (pos: (0, 32), index: 3),
        (pos: (0, 48), index: 3),
        (pos: (112, 0), index: 3),
        (pos: (112, -16), index: 3),
        (pos: (112, -32), index: 3),
        (pos: (-32, -80), index: 15),
        (pos: (-160, -80), index: 14),
        (pos: (16, -48), index: 3),
        (pos: (16, -32), index: 3),
        (pos: (16, -16), index: 3),
        (pos: (16, 0), index: 3),
        (pos: (16, 16), index: 3),
        (pos: (16, 32), index: 3),
        (pos: (16, 48), index: 3),
        (pos: (112, -48), index: 3),
        (pos: (112, -64), index: 3),
        (pos: (160, 0), index: 3),
        (pos: (32, 80), index: 4),
        (pos: (32, -64), index: 3),
        (pos: (32, -48), index: 3),
        (pos: (32, -32), index: 3),
        (pos: (32, -16), index: 3),
        (pos: (32, 0), index: 3),
        (pos: (32, 16), index: 3),
        (pos: (32, 32), index: 3),
        (pos: (32, 48), index: 3),
        (pos: (160, 16), index: 3),
        (pos: (160, 32), index: 3),
        (pos: (160, 48), index: 3),
        (pos: (0, -64), index: 14),
        (pos: (48, -64), index: 3),
        (pos: (48, -48), index: 3),
        (pos: (48, -32), index: 3),
        (pos: (48, -16), index: 3),
        (pos: (48, 0), index: 3),
        (pos: (48, 16), index: 3),
        (pos: (48, 32), index: 3),
        (pos: (48, 48), index: 3),
        (pos: (96, 48), index: 3),
        (pos: (96, 32), index: 3),
        (pos: (96, 16), index: 3),
        (pos: (-16, -64), index: 14),
        (pos: (64, -64), index: 3),
        (pos: (64, -48), index: 3),
        (pos: (64, -32), index: 3),
        (pos: (64, -16), index: 3),
        (pos: (64, 0), index: 3),
        (pos: (64, 16), index: 3),
        (pos: (64, 32), index: 3),
        (pos: (64, 48), index: 3),
        (pos: (96, 0), index: 3),
        (pos: (96, -16), index: 3),
        (pos: (96, -32), index: 3),
        (pos: (-32, -64), index: 14),
        (pos: (80, -64), index: 3),
        (pos: (80, -48), index: 3),
        (pos: (80, -32), index: 3),
        (pos: (80, -16), index: 3),
        (pos: (80, 0), index: 3),
        (pos: (-48, -80), index: 15),
        (pos: (-192, -112), index: 15),
        (pos: (-192, -96), index: 15),
        (pos: (-64, -80), index: 15),
        (pos: (-176, -112), index: 15),
        (pos: (-176, -96), index: 15),
        (pos: (96, -96), index: 15),
        (pos: (-160, -112), index: 15),
        (pos: (-160, -96), index: 15),
        (pos: (96, -112), index: 15),
        (pos: (-144, -112), index: 15),
        (pos: (-144, -96), index: 15),
        (pos: (16, -112), index: 15),
        (pos: (-128, -112), index: 15),
        (pos: (-128, -96), index: 15),
        (pos: (80, -96), index: 15),
        (pos: (-112, -112), index: 15),
        (pos: (-112, -96), index: 15),
        (pos: (80, -112), index: 15),
        (pos: (-96, -112), index: 15),
        (pos: (-96, -96), index: 15),
        (pos: (16, -96), index: 15),
        (pos: (-80, -112), index: 15),
        (pos: (-80, -96), index: 15),
        (pos: (64, -96), index: 15),
        (pos: (-64, -112), index: 15),
        (pos: (-64, -96), index: 15),
        (pos: (64, -112), index: 15),
        (pos: (-48, -112), index: 15),
        (pos: (-48, -96), index: 15),
        (pos: (32, -96), index: 15),
        (pos: (-32, -112), index: 15),
        (pos: (-32, -96), index: 15),
        (pos: (48, -96), index: 15),
        (pos: (-16, -112), index: 15),
        (pos: (-16, -96), index: 15),
        (pos: (48, -112), index: 15),
        (pos: (0, -112), index: 15),
        (pos: (0, -96), index: 15),
        (pos: (32, -112), index: 15),
        (pos: (-192, -144), index: 15),
        (pos: (-192, -128), index: 15),
        (pos: (-176, -144), index: 15),
        (pos: (-176, -128), index: 15),
        (pos: (-160, -144), index: 15),
        (pos: (-160, -128), index: 15),
        (pos: (-144, -144), index: 15),
        (pos: (-144, -128), index: 15),
        (pos: (-128, -144), index: 15),
        (pos: (-128, -128), index: 15),
        (pos: (-112, -144), index: 15),
        (pos: (-112, -128), index: 15),
        (pos: (-96, -144), index: 15),
        (pos: (-96, -128), index: 15),
        (pos: (-80, -144), index: 15),
        (pos: (-80, -128), index: 15),
        (pos: (-64, -144), index: 15),
        (pos: (-64, -128), index: 15),
        (pos: (-48, -144), index: 15),
        (pos: (-48, -128), index: 15),
        (pos: (-32, -144), index: 15),
        (pos: (-32, -128), index: 15),
        (pos: (-16, -144), index: 15),
        (pos: (-16, -128), index: 15),
        (pos: (0, -144), index: 15),
        (pos: (0, -128), index: 15),
        (pos: (16, -144), index: 15),
        (pos: (16, -128), index: 15),
        (pos: (32, -144), index: 15),
        (pos: (32, -128), index: 15),
        (pos: (48, -144), index: 15),
        (pos: (48, -128), index: 15),
        (pos: (64, -144), index: 15),
        (pos: (64, -128), index: 15),
        (pos: (80, -144), index: 15),
        (pos: (80, -128), index: 15),
        (pos: (96, -144), index: 15),
        (pos: (96, -128), index: 15),
        (pos: (112, -144), index: 15),
        (pos: (112, -128), index: 15),
        (pos: (128, -144), index: 15),
        (pos: (128, -128), index: 15),
        (pos: (144, -144), index: 15),
        (pos: (144, -128), index: 15),
        (pos: (160, -144), index: 15),
        (pos: (160, -128), index: 15),
        (pos: (-192, 64), index: 5),
        (pos: (-176, 64), index: 5),
        (pos: (-160, 64), index: 5),
        (pos: (-144, 64), index: 5),
        (pos: (-128, 64), index: 5),
        (pos: (-112, 64), index: 5),
        (pos: (-96, 64), index: 5),
        (pos: (48, 64), index: 5),
        (pos: (64, 64), index: 5),
        (pos: (80, 64), index: 5),
        (pos: (96, 64), index: 5),
        (pos: (112, 64), index: 5),
        (pos: (128, 64), index: 5),
        (pos: (144, 64), index: 5),
        (pos: (-80, 80), index: 5),
        (pos: (-64, 80), index: 5),
        (pos: (-48, 80), index: 5),
        (pos: (-32, 80), index: 5),
        (pos: (-16, 80), index: 5),
        (pos: (0, 80), index: 5),
        (pos: (16, 80), index: 5),
        (pos: (-192, 80), index: 4),
        (pos: (-192, 96), index: 4),
        (pos: (-176, 80), index: 4),
        (pos: (-176, 96), index: 4),
        (pos: (-160, 80), index: 4),
        (pos: (-160, 96), index: 4),
        (pos: (-144, 80), index: 4),
        (pos: (-144, 96), index: 4),
        (pos: (-128, 80), index: 4),
        (pos: (-128, 96), index: 4),
        (pos: (-112, 80), index: 4),
        (pos: (-112, 96), index: 4),
        (pos: (-96, 80), index: 4),
        (pos: (-96, 96), index: 4),
        (pos: (-80, 96), index: 4),
        (pos: (-80, 112), index: 4),
        (pos: (-64, 96), index: 4),
        (pos: (-64, 112), index: 4),
        (pos: (-48, 96), index: 4),
        (pos: (-48, 112), index: 4),
        (pos: (-32, 96), index: 4),
        (pos: (-32, 112), index: 4),
        (pos: (-16, 96), index: 4),
        (pos: (-16, 112), index: 4),
        (pos: (0, 96), index: 4),
        (pos: (0, 112), index: 4),
        (pos: (16, 96), index: 4),
        (pos: (16, 112), index: 4),
        (pos: (32, 96), index: 4),
        (pos: (32, 112), index: 4),
        (pos: (48, 80), index: 4),
        (pos: (48, 96), index: 4),
        (pos: (48, 112), index: 4),
        (pos: (64, 80), index: 4),
        (pos: (64, 96), index: 4),
        (pos: (64, 112), index: 4),
        (pos: (80, 80), index: 4),
        (pos: (80, 96), index: 4),
        (pos: (80, 112), index: 4),
        (pos: (96, 80), index: 4),
        (pos: (96, 96), index: 4),
        (pos: (96, 112), index: 4),
        (pos: (112, 80), index: 4),
        (pos: (112, 96), index: 4),
        (pos: (112, 112), index: 4),
        (pos: (128, 80), index: 4),
        (pos: (128, 96), index: 4),
        (pos: (128, 112), index: 4),
        (pos: (144, 80), index: 4),
        (pos: (144, 96), index: 4),
        (pos: (144, 112), index: 4),
        (pos: (160, 80), index: 4),
        (pos: (160, 96), index: 4),
        (pos: (160, 112), index: 4),
        (pos: (176, 80), index: 4),
        (pos: (176, 96), index: 4),
        (pos: (176, 112), index: 4),
        (pos: (-80, 64), index: 3),
        (pos: (-64, 64), index: 3),
        (pos: (-48, 64), index: 3),
        (pos: (-32, 64), index: 3),
        (pos: (-16, 64), index: 3),
        (pos: (0, 64), index: 3),
        (pos: (16, 64), index: 3),
        (pos: (-32, 16), index: 3),
        (pos: (16, -64), index: 3),
    ]),
    Fg: (tiles: [
        (pos: (48, -96), index: 8),
        (pos: (-32, 16), index: 12),
        (pos: (144, 32), index: 12),
        (pos: (-32, 32), index: 8),
        (pos: (-32, -32), index: 7),
        (pos: (-32, -16), index: 7),
        (pos: (-32, 0), index: 7),
        (pos: (-48, -32), index: 7),
        (pos: (-48, -16), index: 7),
        (pos: (-48, 0), index: 7),
        (pos: (-48, 16), index: 7),
        (pos: (-16, -32), index: 7),
        (pos: (-16, -16), index: 7),
        (pos: (-16, 0), index: 7),
        (pos: (-16, 16), index: 7),
        (pos: (64, -16), index: 6),
        (pos: (112, 32), index: 6),
        (pos: (-128, -16), index: 11),
        (pos: (-160, 16), index: 10),
        (pos: (-48, 48), index: 10),
        (pos: (48, -112), index: 12),
        (pos: (-112, -112), index: 12),
        (pos: (-112, -96), index: 8),
    ]),
})