(layers: {
    Bg: (tiles: [
        (pos: (4, 5), index: 3),
        (pos: (4, 6), index: 3),
        (pos: (4, 7), index: 3),
        (pos: (4, 8), index: 3),
        (pos: (4, 9), index: 3),
        (pos: (4, 10), index: 3),
        (pos: (4, 11), index: 3),
        (pos: (5, 5), index: 3),
        (pos: (5, 6), index: 3),
        (pos: (5, 7), index: 3),
        (pos: (5, 8), index: 3),
        (pos: (5, 9), index: 3),
        (pos: (5, 10), index: 3),
        (pos: (5, 11), index: 3),
        (pos: (6, 5), index: 3),
        (pos: (6, 6), index: 3),
        (pos: (6, 7), index: 3),
        (pos: (6, 8), index: 3),
        (pos: (6, 9), index: 3),
        (pos: (6, 10), index: 3),
        (pos: (6, 11), index: 3),
        (pos: (7, 5), index: 3),
        (pos: (7, 6), index: 3),
        (pos: (7, 7), index: 3),
        (pos: (7, 8), index: 3),
        (pos: (7, 9), index: 3),
        (pos: (7, 10), index: 3),
        (pos: (7, 11), index: 3),
        (pos: (8, 5), index: 3),
        (pos: (8, 6), index: 3),
        (pos: (8, 7), index: 3),
        (pos: (8, 8), index: 3),
        (pos: (8, 9), index: 3),
        (pos: (8, 10), index: 3),
        (pos: (8, 11), index: 3),
        (pos: (9, 5), index: 3),
        (pos: (9, 6), index: 3),
        (pos: (9, 7), index: 3),
        (pos: (9, 8), index: 3),
        (pos: (9, 9), index: 3),
        (pos: (9, 10), index: 3),
        (pos: (9, 11), index: 3),
        (pos: (10, 5), index: 3),
        (pos: (10, 6), index: 3),
        (pos: (10, 7), index: 3),
        (pos: (10, 8), index: 3),
        (pos: (10, 9), index: 3),
        (pos: (10, 10), index: 3),
        (pos: (10, 11), index: 3),
        (pos: (11, 5), index: 3),
        (pos: (11, 6), index: 3),
        (pos: (11, 7), index: 3),
        (pos: (11, 8), index: 3),
        (pos: (11, 9), index: 3),
        (pos: (11, 10), index: 3),
        (pos: (11, 11), index: 3),
    ]),
    Entities: (tiles: [
        (pos: (7, 9), index: 1),
    ]),
})