(layers: {
    Fg: (tiles: [
        (pos: (8, 10), index: 8),
        (pos: (16, 6), index: 8),
        (pos: (8, 9), index: 12),
        (pos: (1, 10), index: 8),
        (pos: (1, 9), index: 12),
        (pos: (8, 14), index: 8),
        (pos: (8, 13), index: 12),
        (pos: (16, 16), index: 8),
        (pos: (16, 5), index: 12),
        (pos: (13, 3), index: 13),
        (pos: (12, 4), index: 13),
        (pos: (12, 3), index: 13),
        (pos: (14, 5), index: 9),
        (pos: (14, 2), index: 13),
        (pos: (14, 3), index: 9),
        (pos: (13, 4), index: 13),
        (pos: (11, 5), index: 9),
        (pos: (12, 5), index: 9),
        (pos: (13, 5), index: 9),
    ]),
    Entities: (tiles: [
        (pos: (7, 2), index: 2),
        (pos: (2, 2), index: 3),
        (pos: (14, 8), index: 1),
        (pos: (11, 15), index: 1),
        (pos: (15, 11), index: 1),
        (pos: (15, 13), index: 1),
        (pos: (4, 9), index: 1),
        (pos: (15, 15), index: 1),
        (pos: (8, 15), index: 1),
        (pos: (4, 13), index: 1),
        (pos: (9, 7), index: 1),
    ]),
    Bg: (tiles: [
        (pos: (14, 2), index: 3),
        (pos: (14, 1), index: 3),
        (pos: (15, 5), index: 3),
        (pos: (15, 4), index: 3),
        (pos: (15, 3), index: 3),
        (pos: (15, 2), index: 3),
        (pos: (13, 5), index: 3),
        (pos: (15, 1), index: 3),
        (pos: (13, 4), index: 3),
        (pos: (14, 5), index: 3),
        (pos: (14, 4), index: 3),
        (pos: (14, 3), index: 3),
        (pos: (11, 5), index: 3),
        (pos: (8, 5), index: 3),
        (pos: (8, 4), index: 3),
        (pos: (1, 7), index: 3),
        (pos: (4, 7), index: 3),
        (pos: (1, 9), index: 3),
        (pos: (2, 7), index: 3),
        (pos: (4, 6), index: 3),
        (pos: (4, 5), index: 3),
        (pos: (3, 7), index: 3),
        (pos: (3, 8), index: 3),
        (pos: (3, 9), index: 3),
        (pos: (8, 3), index: 3),
        (pos: (8, 2), index: 3),
        (pos: (8, 1), index: 3),
        (pos: (1, 10), index: 3),
        (pos: (1, 11), index: 3),
        (pos: (1, 12), index: 3),
        (pos: (7, 3), index: 3),
        (pos: (2, 11), index: 3),
        (pos: (2, 12), index: 3),
        (pos: (9, 4), index: 3),
        (pos: (3, 11), index: 3),
        (pos: (3, 12), index: 3),
        (pos: (12, 5), index: 3),
        (pos: (4, 11), index: 3),
        (pos: (4, 12), index: 3),
        (pos: (3, 1), index: 3),
        (pos: (5, 11), index: 3),
        (pos: (5, 12), index: 3),
        (pos: (10, 5), index: 3),
        (pos: (3, 3), index: 3),
        (pos: (3, 4), index: 3),
        (pos: (6, 1), index: 3),
        (pos: (12, 3), index: 3),
        (pos: (18, 5), index: 3),
        (pos: (17, 5), index: 3),
        (pos: (5, 3), index: 3),
        (pos: (5, 2), index: 3),
        (pos: (5, 1), index: 3),
        (pos: (12, 4), index: 3),
        (pos: (11, 1), index: 3),
        (pos: (11, 4), index: 3),
        (pos: (4, 8), index: 3),
        (pos: (4, 9), index: 3),
        (pos: (4, 10), index: 3),
        (pos: (16, 5), index: 3),
        (pos: (5, 7), index: 3),
        (pos: (5, 8), index: 3),
        (pos: (5, 9), index: 3),
        (pos: (13, 3), index: 3),
        (pos: (11, 17), index: 4),
        (pos: (8, 17), index: 4),
        (pos: (7, 17), index: 4),
        (pos: (6, 17), index: 4),
        (pos: (3, 2), index: 3),
        (pos: (5, 17), index: 4),
        (pos: (9, 1), index: 3),
        (pos: (9, 2), index: 3),
        (pos: (9, 3), index: 3),
        (pos: (10, 1), index: 3),
        (pos: (8, 6), index: 3),
        (pos: (8, 7), index: 3),
        (pos: (8, 8), index: 3),
        (pos: (8, 9), index: 3),
        (pos: (10, 2), index: 3),
        (pos: (9, 6), index: 3),
        (pos: (9, 7), index: 3),
        (pos: (9, 8), index: 3),
        (pos: (9, 9), index: 3),
        (pos: (10, 3), index: 3),
        (pos: (10, 6), index: 3),
        (pos: (10, 7), index: 3),
        (pos: (10, 8), index: 3),
        (pos: (10, 9), index: 3),
        (pos: (10, 4), index: 3),
        (pos: (11, 6), index: 3),
        (pos: (11, 7), index: 3),
        (pos: (11, 8), index: 3),
        (pos: (11, 9), index: 3),
        (pos: (12, 6), index: 3),
        (pos: (12, 7), index: 3),
        (pos: (12, 8), index: 3),
        (pos: (12, 9), index: 3),
        (pos: (13, 6), index: 3),
        (pos: (13, 7), index: 3),
        (pos: (13, 8), index: 3),
        (pos: (13, 9), index: 3),
        (pos: (14, 6), index: 3),
        (pos: (14, 7), index: 3),
        (pos: (14, 8), index: 3),
        (pos: (14, 9), index: 3),
        (pos: (15, 6), index: 3),
        (pos: (15, 7), index: 3),
        (pos: (15, 8), index: 3),
        (pos: (15, 9), index: 3),
        (pos: (19, 8), index: 3),
        (pos: (19, 7), index: 3),
        (pos: (13, 17), index: 4),
        (pos: (18, 9), index: 3),
        (pos: (18, 8), index: 3),
        (pos: (18, 7), index: 3),
        (pos: (12, 17), index: 4),
        (pos: (17, 9), index: 3),
        (pos: (17, 8), index: 3),
        (pos: (17, 7), index: 3),
        (pos: (14, 17), index: 4),
        (pos: (8, 13), index: 3),
        (pos: (2, 5), index: 3),
        (pos: (2, 4), index: 3),
        (pos: (19, 5), index: 3),
        (pos: (12, 10), index: 3),
        (pos: (12, 11), index: 3),
        (pos: (3, 5), index: 3),
        (pos: (12, 13), index: 3),
        (pos: (13, 10), index: 3),
        (pos: (13, 11), index: 3),
        (pos: (13, 12), index: 3),
        (pos: (13, 13), index: 3),
        (pos: (14, 10), index: 3),
        (pos: (14, 11), index: 3),
        (pos: (14, 12), index: 3),
        (pos: (14, 13), index: 3),
        (pos: (15, 10), index: 3),
        (pos: (15, 11), index: 3),
        (pos: (15, 12), index: 3),
        (pos: (15, 13), index: 3),
        (pos: (2, 3), index: 3),
        (pos: (2, 2), index: 3),
        (pos: (2, 1), index: 3),
        (pos: (13, 1), index: 3),
        (pos: (1, 2), index: 3),
        (pos: (1, 1), index: 3),
        (pos: (17, 12), index: 3),
        (pos: (17, 13), index: 3),
        (pos: (13, 2), index: 3),
        (pos: (11, 3), index: 3),
        (pos: (18, 12), index: 3),
        (pos: (18, 13), index: 3),
        (pos: (19, 11), index: 3),
        (pos: (19, 13), index: 3),
        (pos: (12, 1), index: 3),
        (pos: (1, 13), index: 3),
        (pos: (2, 13), index: 3),
        (pos: (3, 13), index: 3),
        (pos: (4, 13), index: 3),
        (pos: (5, 13), index: 3),
        (pos: (6, 13), index: 3),
        (pos: (3, 6), index: 3),
        (pos: (2, 6), index: 3),
        (pos: (1, 6), index: 3),
        (pos: (10, 13), index: 3),
        (pos: (11, 13), index: 3),
        (pos: (7, 5), index: 3),
        (pos: (7, 4), index: 3),
        (pos: (4, 17), index: 4),
        (pos: (2, 17), index: 4),
        (pos: (3, 17), index: 4),
        (pos: (2, 14), index: 3),
        (pos: (10, 17), index: 4),
        (pos: (3, 14), index: 3),
        (pos: (7, 1), index: 3),
        (pos: (7, 2), index: 3),
        (pos: (4, 14), index: 3),
        (pos: (19, 16), index: 3),
        (pos: (12, 2), index: 3),
        (pos: (5, 14), index: 3),
        (pos: (19, 15), index: 3),
        (pos: (3, 16), index: 4),
        (pos: (6, 14), index: 3),
        (pos: (9, 5), index: 3),
        (pos: (1, 15), index: 4),
        (pos: (7, 14), index: 3),
        (pos: (7, 15), index: 3),
        (pos: (2, 16), index: 4),
        (pos: (11, 2), index: 3),
        (pos: (8, 15), index: 3),
        (pos: (1, 17), index: 4),
        (pos: (9, 14), index: 3),
        (pos: (9, 15), index: 3),
        (pos: (1, 16), index: 4),
        (pos: (10, 14), index: 3),
        (pos: (10, 15), index: 3),
        (pos: (0, 17), index: 4),
        (pos: (11, 14), index: 3),
        (pos: (11, 15), index: 3),
        (pos: (0, 16), index: 4),
        (pos: (12, 14), index: 3),
        (pos: (12, 15), index: 3),
        (pos: (9, 17), index: 4),
        (pos: (13, 14), index: 3),
        (pos: (13, 15), index: 3),
        (pos: (6, 3), index: 3),
        (pos: (14, 14), index: 3),
        (pos: (14, 15), index: 3),
        (pos: (6, 2), index: 3),
        (pos: (15, 14), index: 3),
        (pos: (15, 15), index: 3),
        (pos: (15, 16), index: 3),
        (pos: (1, 5), index: 3),
        (pos: (16, 16), index: 3),
        (pos: (1, 4), index: 3),
        (pos: (1, 3), index: 3),
        (pos: (18, 14), index: 3),
        (pos: (8, 14), index: 3),
        (pos: (18, 16), index: 3),
        (pos: (19, 14), index: 3),
        (pos: (1, 14), index: 5),
        (pos: (2, 15), index: 5),
        (pos: (4, 16), index: 5),
        (pos: (3, 15), index: 5),
        (pos: (5, 16), index: 5),
        (pos: (6, 16), index: 5),
        (pos: (7, 16), index: 5),
        (pos: (8, 16), index: 5),
        (pos: (9, 16), index: 5),
        (pos: (10, 16), index: 5),
        (pos: (11, 16), index: 5),
        (pos: (12, 16), index: 5),
        (pos: (13, 16), index: 5),
        (pos: (14, 16), index: 5),
        (pos: (15, 17), index: 5),
        (pos: (16, 17), index: 5),
        (pos: (17, 6), index: 5),
        (pos: (18, 6), index: 5),
        (pos: (19, 6), index: 5),
        (pos: (7, 13), index: 9),
        (pos: (6, 12), index: 9),
        (pos: (9, 13), index: 9),
        (pos: (3, 10), index: 9),
        (pos: (1, 0), index: 9),
        (pos: (2, 0), index: 9),
        (pos: (3, 0), index: 9),
        (pos: (15, 0), index: 9),
        (pos: (5, 0), index: 9),
        (pos: (6, 0), index: 9),
        (pos: (7, 0), index: 9),
        (pos: (8, 0), index: 9),
        (pos: (9, 0), index: 9),
        (pos: (10, 0), index: 9),
        (pos: (11, 0), index: 9),
        (pos: (12, 0), index: 9),
        (pos: (13, 0), index: 9),
        (pos: (14, 0), index: 9),
        (pos: (4, 0), index: 13),
        (pos: (4, 1), index: 13),
        (pos: (4, 2), index: 13),
        (pos: (4, 3), index: 13),
        (pos: (5, 6), index: 9),
        (pos: (0, 14), index: 13),
        (pos: (0, 13), index: 13),
        (pos: (0, 0), index: 13),
        (pos: (0, 1), index: 13),
        (pos: (0, 2), index: 13),
        (pos: (0, 3), index: 13),
        (pos: (0, 4), index: 13),
        (pos: (0, 5), index: 13),
        (pos: (0, 6), index: 13),
        (pos: (0, 7), index: 13),
        (pos: (0, 8), index: 13),
        (pos: (0, 9), index: 13),
        (pos: (0, 10), index: 13),
        (pos: (0, 11), index: 13),
        (pos: (0, 12), index: 13),
        (pos: (1, 8), index: 9),
        (pos: (2, 8), index: 13),
        (pos: (2, 9), index: 13),
        (pos: (0, 15), index: 9),
        (pos: (12, 12), index: 9),
        (pos: (6, 11), index: 13),
        (pos: (17, 17), index: 9),
        (pos: (16, 9), index: 17),
        (pos: (8, 10), index: 13),
        (pos: (17, 16), index: 13),
        (pos: (11, 12), index: 9),
        (pos: (9, 10), index: 13),
        (pos: (17, 15), index: 13),
        (pos: (16, 8), index: 17),
        (pos: (10, 10), index: 13),
        (pos: (18, 17), index: 9),
        (pos: (10, 12), index: 9),
        (pos: (11, 10), index: 13),
        (pos: (11, 11), index: 13),
        (pos: (8, 12), index: 9),
        (pos: (7, 10), index: 13),
        (pos: (6, 10), index: 13),
        (pos: (16, 15), index: 9),
        (pos: (16, 14), index: 13),
        (pos: (18, 15), index: 9),
        (pos: (16, 10), index: 13),
        (pos: (16, 11), index: 13),
        (pos: (16, 6), index: 17),
        (pos: (4, 4), index: 9),
        (pos: (20, 4), index: 13),
        (pos: (20, 5), index: 13),
        (pos: (16, 4), index: 9),
        (pos: (17, 4), index: 9),
        (pos: (18, 4), index: 9),
        (pos: (19, 4), index: 9),
        (pos: (16, 0), index: 13),
        (pos: (16, 1), index: 13),
        (pos: (16, 2), index: 13),
        (pos: (16, 3), index: 13),
        (pos: (5, 4), index: 13),
        (pos: (5, 5), index: 13),
        (pos: (6, 4), index: 13),
        (pos: (6, 5), index: 13),
        (pos: (6, 6), index: 13),
        (pos: (6, 7), index: 13),
        (pos: (6, 8), index: 13),
        (pos: (6, 9), index: 13),
        (pos: (7, 6), index: 13),
        (pos: (7, 7), index: 13),
        (pos: (7, 8), index: 13),
        (pos: (7, 9), index: 13),
        (pos: (5, 10), index: 9),
        (pos: (2, 10), index: 9),
        (pos: (6, 15), index: 9),
        (pos: (4, 15), index: 9),
        (pos: (5, 15), index: 9),
        (pos: (16, 7), index: 17),
        (pos: (16, 12), index: 17),
        (pos: (16, 13), index: 17),
        (pos: (20, 8), index: 13),
        (pos: (20, 16), index: 13),
        (pos: (20, 11), index: 13),
        (pos: (20, 7), index: 13),
        (pos: (20, 6), index: 13),
        (pos: (17, 11), index: 9),
        (pos: (18, 11), index: 9),
        (pos: (19, 10), index: 9),
        (pos: (19, 17), index: 9),
        (pos: (20, 17), index: 13),
        (pos: (20, 13), index: 13),
        (pos: (20, 14), index: 13),
        (pos: (20, 15), index: 13),
        (pos: (19, 12), index: 13),
    ]),
})